.save {
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;

  &:hover {
    background-color: green;
  }
}
.edit-task{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width:800px;

  //@media (max-width: 600px) {
  //  flex-direction: column;
  //}

  input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
    margin-right: 10px;
    width: 6vw;
  }

  //@media (max-width: 600px) {
  //  margin-bottom: 10px;
  //}
}

.edit-task-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;
  width: 100%;
}
