/* login.component.scss */
.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 4px;
  width:800px;
  height:320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-page{
  width:100%;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:1vw;
}

.login-form{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
}
.username{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top:15px;
}
input{
  border:none;
  border-radius: 12px;
  height: 40px;
  margin-top:5px;
  cursor: default;
  width:230px;
}
.login-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:15px;
}
button{
  border:none;
  border-radius: 12px;
  height: 40px;
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.create-account{
  margin-top: 10px;
  a{
    color: black;
  }
}
.pacifico-regular {
  font-family: 'Pacifico', cursive;
  font-size: 48px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid black; /* Cursor */
  animation: typing 4s steps(20, end) forwards, blink-caret 0.75s step-end 1;
}

@keyframes typing {
  from { width: 0 }
  to { width: 17% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black }
}
