.add-task {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  //@media (max-width: 600px) {
  //  flex-direction: column;
  //}

  .task-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
    margin-right: 10px;
    width:6vw;

    //@media (max-width: 600px) {
    //  margin-bottom: 10px;
    //}
  }

  .add-button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;

    &:hover {
      background-color: green;
    }
  }
}
