@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.pacifico-regular {
  font-family: 'Pacifico', cursive;
  font-size: 48px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid black; /* Cursor */
  animation: typing 4s steps(20, end) forwards, blink-caret 0.75s step-end 1;
}

@keyframes typing {
  from { width: 0 }
  to { width: 17% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black }
}
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.montserrat-font {
               font-family: "Montserrat", sans-serif;
               font-optical-sizing: auto;
               font-weight: 400;
               font-style: normal;
             }
.montserrat-header-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
/* Gradient Background CSS */
body {
  background-image: url("../src/app/assets/pexels-karolina-grabowska-4467737.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
